@import "mixins/components.buttons";

.c-button {
  @include button;
}

.c-button--inverted {
  @include button-inverted;
  // @include button-color($button-inverted-background-color, $button-inverted-color);
  // border-color: $color-black;
}

.c-button--close {
  @include button-color(transparent, inherit);
  position: absolute;
  right: $spacing-small;
  padding: 0;
  outline: 0;
  font-size: $button-close-font-size;
  font-weight: $button-close-font-weight;
  line-height: 1;
}

.c-button--block {
  display: inline-block;
  width: 100%;
}

.c-button--rounded {
  border-radius: $button-rounded-border-radius;
}

.c-button--brand {
  @include button-color($button-brand-background-color, $button-brand-color);
}

.c-button--brand--inverted {
  @include button-brand-inverted;
  // @include button-color($button-brand-inverted-background-color, $button-brand-inverted-color);
  // border-color: $color-brand;
}

.c-button--white {
  @include button-white;
  // @include button-color($button-white-background-color, $button-white-color);
}

.c-button--info {
  @include button-color($button-info-background-color, $button-info-color);
}

.c-button--warning {
  @include button-color($button-warning-background-color, $button-warning-color);
}

.c-button--success {
  @include button-color($button-success-background-color, $button-success-color);
}

.c-button--error {
  @include button-color($button-error-background-color, $button-error-color);
}

.c-button--ghost {
  @include button-ghost;
}

.c-button--ghost-brand {
  @include button-ghost($button-ghost-brand-color, $button-ghost-brand-hover-color);
}

.c-button--ghost-info {
  @include button-ghost($button-ghost-info-color, $button-ghost-info-hover-color);
}

.c-button--ghost-warning {
  @include button-ghost($button-ghost-warning-color, $button-ghost-warning-hover-color);
}

.c-button--ghost-success {
  @include button-ghost($button-ghost-success-color, $button-ghost-success-hover-color);
}

.c-button--ghost-error {
  @include button-ghost($button-ghost-error-color, $button-ghost-error-hover-color);
}

.c-button__icon-left {
  padding-right: $button-icon-left-padding;
}

.c-button__icon-right {
  padding-left: $button-icon-right-padding;
}

.nav-button {
  font-size: 1em;
}
