@import "mixins/tools.mediaqueries";
@import "mixins/components.carousel";

.carousel {
  @include carousel-size($carousel-width, 50vh);
  position: relative;
}

.carousel-inner {
  @include carousel-size($carousel-width, $carousel-height);
  position: relative;
  overflow: hidden;
}

.carousel-open:checked + .carousel-item {
  @include carousel-visibility($carousel-visible);
  display: flex;
  position: static;
  // opacity: 1;
  @extend .flex-box--center !optional;
}

// .carousel-open:checked + .carousel-item img {
//   // opacity: 1;
//   @include carousel-visibility($carousel-visible);
// }

.carousel-item {
  @include carousel-size($carousel-width, $carousel-height);
  @include carousel-visibility($carousel-invisible);
  position: absolute;
  // width: 100%;
  // height: 100%;
  // transition-delay: initial;
  // transition-duration: 1s;
  // transition-property: opacity;
  // transition-timing-function: ease-in-out;
  // opacity: 0;
  // @extend .fade-in !optional;
}

.carousel-item img {
  @include carousel-size($carousel-width, auto);
  // @include carousel-visibility($carousel-invisible);
  // @include screen--xsmall {
  //   width: 150%;
  // };
  // @include screen--small {
  //   width: 150%;
  // };
  @include screen--medium {
    width: 150%;
  }
  display: block;
  // width: 100%;
  // max-width: 100%;
  // height: auto;
  // opacity: 0;
}

.carousel-control {
  @include carousel-control;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-1:checked ~ .control-1,
.carousel-2:checked ~ .control-2,
.carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  list-style: none;
  // z-index: 100;
  @extend .u-pillar-box--large !optional;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 $spacing-small;
}

.carousel-bullet {
  // display: block;
  color: $color-white;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 1.5em;
  cursor: pointer;
}

.carousel-bullet:hover {
  color: $color-orange;
}

.carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
.carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
.carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  position: relative;
  visibility: hidden;
}

.carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet:after,
.carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet:after,
.carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet:after {
  position: absolute;
  top: -26px;
	left: 0;
  color: $color-orange;
  font-size: 1.7em;
  content: "•";
  visibility: visible;
}

.carousel-content {
  @include carousel-size($carousel-width, $carousel-height);
  position: absolute;
  // width: 100%;
  // height: 100%;
}

.carousel-header,
.carousel-preheader {
  // position: absolute;
  position: relative;
  width: $carousel-width;
  color: $color-white;
  z-index: 1;
}

// .carousel-header {
//   bottom: 2em;
// }
