@import "mixins/settings.global";

.c-heading,
.c-heading__sub {
  margin: $heading-margin;
  padding: $heading-padding;
  // font-weight: $heading-font-weight;
}

.c-heading__sub {
  padding: $heading-subheading-padding;
  // font-size: $heading-subheading-font-size;
  // opacity: $heading-subheading-opacity;
}

h1,
h2 {
  font-family: $text-font-family-headings;
}

h2,
h5 {
  font-size: $text-font-size-xlarge;
}

h3,
h4 {
  font-size: $text-font-size-small;
}

h6 {
  font-size: $text-font-size-xsmall;
}

h2,
h3,
h6 {
  font-weight: $heading-font-weight;
}

h1,
h2,
h5,
h6 {
  letter-spacing: $heading-letter-spacing;
}

h3,
h4 {
  letter-spacing: ($heading-letter-spacing * 2);
}

// h1,
// h2 {
//   margin: $heading-margin-large 0;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $heading-margin;
  line-height: $heading-line-height;
}

h3,
h4 {
  text-transform: $uppercase;
}

h1 {
  font-size: $text-font-size-super;
  font-weight: $text-font-weight-black;
}

h4 {
  font-weight: $text-font-weight-light;
}

h5 {
  font-weight: $text-font-weight-semi;
}

h6 {
  font-size: $text-font-size-xsmall;
}

// h1.c-heading {
//   font-size: $text-font-size-super;
// }
//
// h2.c-heading {
//   font-size: $text-font-size-xlarge;
// }
//
// h3.c-heading {
//   font-size: $text-font-size-large;
// }
//
// h4.c-heading {
//   font-size: $text-font-size-medium;
// }
//
// h5.c-heading {
//   font-size: $text-font-size-small;
// }
//
// h6.c-heading {
//   font-size: $text-font-size-xsmall;
// }

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

.h-link {
  &:not(:disabled) {
    &:hover {
      color: $hover-color;
      // background-color: $background-color;
      // border-bottom: solid .3em $color-orange;
    }

    &:focus {
      // box-shadow: $box-shadow-focus;
    }

    &:active {
      // background-color: darken($background-color, $color-tint);
      // color: $hover-color;
    }
  }
  color: $heading-color;
}

.h-white-link {
  &:not(:disabled) {
    &:hover {
      color: $hover-color;
      // background-color: $background-color;
      // border-bottom: solid .3em $color-orange;
    }

    &:focus {
      // box-shadow: $box-shadow-focus;
    }

    &:active {
      // background-color: darken($background-color, $color-tint);
      // color: $hover-color;
    }
  }
  color: $color-white;
}
