@import "mixins/components.links";

a {
  @include link--color($link-normal-color);
  text-decoration: $link-text-decoration;

  &:hover {
    text-decoration: $link-hover-text-decoration;
  }
}

.c-link {
  @include link--color;
  text-decoration: $link-text-decoration;
  cursor: pointer;

  &:hover {
    text-decoration: $link-hover-text-decoration;
  }
}

.c-link--brand {
  @include link--color($link-brand-color);
}

.c-link--info {
  @include link--color($link-info-color);
}

.c-link--warning {
  @include link--color($link-warning-color);
}

.c-link--success {
  @include link--color($link-success-color);
}

.c-link--error {
  @include link--color($link-error-color);
}

.c-link--inverted{
  @include link--color($link-inverted-color);
}
