@import "mixins/components.animations";

// -- Slide Animations -- //

// Slide Out Top from Center
// @include keyframe(animation-slide-out-up) {
//   0% {
//     transform: translate(0,0);
//   }
//
//   100% {
//     transform: translate(0,-100%);
//   }
// }
//
// @include keyframe(animation-slide-out-down) {
//   0% {
//     transform: translate(0,0);
//   }
//
//   100% {
//     transform: translate(0,100%);
//   }
// }

// Slide Out Left from Center
// @include keyframe(animation-slide-out-left) {
//   0% {
//     transform: translate(0,0);
//   }
//
//   100% {
//     transform: translate(-100%,0);
//   }
// }

// Slide out Right from Center
// @include keyframe(animation-slide-out-right) {
//   0% {
//     transform: translate(0,0);
//   }
//
//   100% {
//     transform: translate(100%,0);
//   }
// }
//
// @include keyframe(animation-slide-in-up) {
//   0% {
//     transform: translate(0,100%);
//   }
//
//   100% {
//     transform: translate(0,0);
//   }
// }
//
// @include keyframe(animation-slide-in-down) {
//   0% {
//     transform: translate(0,-100%);
//   }
//
//   100% {
//     transform: translate(0,0);
//   }
// }

// Slide in Left to Center
// @include keyframe(animation-slide-in-left) {
//   0% {
//     transform: translate(-100%,0);
//   }
//
//   100% {
//     transform: translate(0,0);
//   }
// }

// Slide in Right to Center
// @include keyframe(animation-slide-in-right) {
//   0% {
//     transform: translate(100%,0);
//   }
//
//   100% {
//     transform: translate(0,0);
//   }
// }

//Fade in
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//Fade out
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// CSS
.animated {
  @include animated;
}

.fade-in {
  @include animation(fadeIn);
  // animation-name: fade;
}

.fade-out {
  @include animation(fadeOut);
  // animation-name: fade;
}

// .animation-slide-in-up {
//   @include animation($delay, $duration, animation-slide-in-up, ease);
// }
//
// .animation-slide-in-down{
//   @include animation($delay, $duration, animation-slide-in-down, ease);
// }
//
// .animation-slide-in-right{
//   @include animation($delay, $duration, animation-slide-in-right, ease);
// }
//
// .animation-slide-in-left{
//   @include animation($delay, $duration, animation-slide-in-left, ease);
// }
//
// .animation-slide-out-up{
//   @include animation($delay, $duration, animation-slide-out-up, ease);
// }
//
// .animation-slide-out-down{
//   @include animation($delay, $duration, animation-slide-out-down, ease);
// }
//
// .animation-slide-out-right{
//   @include animation($delay, $duration, animation-slide-out-right, ease);
// }
//
// .animation-slide-out-left{
//   @include animation($delay, $duration, animation-slide-out-left, ease);
// }
