@import "mixins/utilities.margin";

.u-letter-margin--super {
  @include letter-margin--super;
}

.u-letter-margin--xlarge {
  @include letter-margin--xlarge;
}

.u-letter-margin--large {
  @include letter-margin--large;
}

.u-letter-margin--medium {
  @include letter-margin--medium;
}

.u-letter-margin--small {
  @include letter-margin--small;
}

.u-letter-margin--xsmall {
  @include letter-margin--xsmall;
}

.u-letter-margin--tiny {
  @include letter-margin--tiny;
}

.u-letter-margin--none {
  @include letter-margin--none;
}

.u-pillar-margin--super {
  @include pillar-margin--super;
}

.u-pillar-margin--xlarge {
  @include pillar-margin--xlarge;
}

.u-pillar-margin--large {
  @include pillar-margin--large;
}

.u-pillar-margin--medium {
  @include pillar-margin--medium;
}

.u-pillar-margin--small {
  @include pillar-margin--small;
}

.u-pillar-margin--xsmall {
  @include pillar-margin--xsmall;
}

.u-pillar-margin--tiny {
  @include pillar-margin--tiny;
}

.u-pillar-margin--none {
  @include pillar-margin--none;
}

.u-window-margin--super {
  @include window-margin--super;
}

.u-window-margin--xlarge {
  @include window-margin--xlarge;
}

.u-window-margin--large {
  @include window-margin--large;
}

.u-window-margin--medium {
  @include window-margin--medium;
}

.u-window-margin--small {
  @include window-margin--small;
}

.u-window-margin--xsmall {
  @include window-margin--xsmall;
}

.u-window-margin--tiny {
  @include window-margin--tiny;
}

.u-window-margin--none {
  @include window-margin--none;
}
