@import "mixins/utilities.alignment";

.u-centered {
  @include centered;
}

.u-left {
  @include left;
}

.u-centered-item {
  @include centered-item;
}

[class^="flex-box"],
[class*=" flex-box"] {
  @include flex;
}

.flex-box-row {
  @include flex-row;
}

// .u-center-block {
//   @include center-block;
// }

.flex-box--center {
  @include center-block;
}

.flex-item--bottom {
  margin-top: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.u-center-block__content,
.u-absolute-center {
  @include center-block__content;
}

.u-center-block__content--vertical {
  @include center-block__content--vertical;
}

.u-center-block__content--horizontal {
  @include center-block__content--horizontal;
}

// .u-bottom-block {
//   position: absolute;
//   bottom: 0;
// }
//
// .relative {
//   position: relative;
// }
