@import "mixins/tools.mediaqueries";
@import "mixins/utilities.extras";

.w-full {
  width: $full-size;
}

.h-full {
  height: $full-size;
}

.no-margin {
  margin: $no-margin;
}

.hide {
  @include hide;
}

.show {
  @include show;
}

.hide-responsive {
  @include screen--xsmall {
    &.hide-xsmall {
      @include hide;
    }
  }

  @include screen--small {
    &.hide-small {
      @include hide;
    }
  }

  @include screen--medium {
    &.hide-medium {
      @include hide;
    }
  }

  @include screen--large {
    &.hide-large {
      @include hide;
    }
  }

  @include screen--xlarge {
    &.hide-xlarge {
      @include hide;
    }
  }

  @include screen--super {
    &.hide-small {
      @include hide;
    }
  }

  @include screen--xsmall-and-up {
    &.hide-xsmall--up {
      @include hide;
    }
  }

  @include screen--small-and-up {
    &.hide-small--up {
      @include hide;
    }
  }

  @include screen--medium-and-up {
    &.hide-medium--up {
      @include hide;
    }
  }

  @include screen--large-and-up {
    &.hide-largel--up {
      @include hide;
    }
  }

  @include screen--xlarge-and-up {
    &.hide-xlarge--up {
      @include hide;
    }
  }

  @include screen--super-and-up {
    &.hide-super--up {
      @include hide;
    }
  }
}

.show-responsive {
  @include hide;

  @include screen--xsmall {
    &.show-xsmall {
      @include show;
    }
  }

  @include screen--small {
    &.show-small {
      @include show;
    }
  }

  @include screen--medium {
    &.show-medium {
      @include show;
    }
  }

  @include screen--large {
    &.show-large {
      @include show;
    }
  }

  @include screen--xlarge {
    &.show-xlarge {
      @include show;
    }
  }

  @include screen--super {
    &.show-small {
      @include show;
    }
  }

  @include screen--xsmall-and-up {
    &.show-xsmall--up {
      @include show;
    }
  }

  @include screen--small-and-up {
    &.show-small--up {
      @include show;
    }
  }

  @include screen--medium-and-up {
    &.show-medium--up {
      @include show;
    }
  }

  @include screen--large-and-up {
    &.show-largel--up {
      @include show;
    }
  }

  @include screen--xlarge-and-up {
    &.show-xlarge--up {
      @include show;
    }
  }

  @include screen--super-and-up {
    &.show-super--up {
      @include show;
    }
  }
}

.lazy-load,
.lazy-loaded {
  transition-duration: .3s;
  transition-property: opacity;
  opacity: 0;
}

.lazy-loaded {
  opacity: 1;
}
