@import "settings.global";

@mixin button-color($background-color: $button-background-color, $color: $button-color) {
  // border: $button-border;
  border: $button-border-width solid $background-color;
  background-color: $background-color;
  color: $color;

  &.c-button--active {
    background-color: darken($background-color, $color-tint);
  }

  &:not(:disabled) {
    &:hover {
      background-color: lighten($background-color, $color-tint);
    }

    &:focus {
      border-color: $button-focus-border-color;
      box-shadow: $button-focus-box-shadow;
    }

    &:active {
      background-color: darken($background-color, $color-tint);
    }
  }
}

@mixin button-ghost($color: $button-ghost-color, $color-hover: $button-ghost-hover-color) {
  border: $button-ghost-border-width $button-ghost-border-style $color-white;
  background-color: transparent;
  color: $color-white;

  &.c-button--active {
    border-color: darken($color, $color-tint);
    background-color: darken($color, $color-tint);
    color: $color-hover;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $color;
      color: $color-hover;
    }

    &:focus {
      border-color: $button-focus-border-color;
      box-shadow: $button-focus-box-shadow;
    }

    &:active {
      border-color: darken($color, $color-tint);
      background-color: darken($color, $color-tint);
      color: $color-hover;
    }
  }
}

@mixin button {
  @include button-color;
  display: inline;
  max-width: 100%;
  margin: $button-margin;
  padding: $button-padding;
  border-radius: $button-border-radius;
  outline: 0;
  font-family: $button-font-family;
  font-size: $button-font-size;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
  text-align: $button-text-align;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: $uppercase;
  white-space: $button-white-space;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;
  }
}

@mixin button-inverted($color: $button-inverted-color, $color-hover: $button-ghost-hover-color) {
  border-color: $color-black;
  background-color: $button-inverted-background-color;
  color: $button-inverted-color;

  &.c-button--active {
    border-color: darken($color, $color-tint);
    background-color: darken($color, $color-tint);
    color: $color-hover;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $color;
      color: $color-hover;
    }

    &:focus {
      border-color: $button-focus-border-color;
      box-shadow: $button-focus-box-shadow;
    }

    &:active {
      border-color: darken($color, $color-tint);
      background-color: darken($color, $color-tint);
      color: $color-hover;
    }
  }
}

@mixin button-brand-inverted($color: $button-brand-inverted-color, $color-hover: $button-ghost-hover-color) {
  border-color: $color-brand;
  background-color: $button-brand-inverted-background-color;
  color: $button-brand-inverted-color;

  &.c-button--active {
    border-color: darken($color, $color-tint);
    background-color: darken($color, $color-tint);
    color: $color-hover;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $color;
      color: $color-hover;
    }

    &:focus {
      border-color: $button-focus-border-color;
      box-shadow: $button-focus-box-shadow;
    }

    &:active {
      border-color: darken($color, $color-tint);
      background-color: darken($color, $color-tint);
      color: $color-hover;
    }
  }
}

@mixin button-white($color: $button-white-color, $color-hover: $button-ghost-hover-color) {
  border-color: $color-white;
  background-color: $button-white-background-color;
  color: $button-white-color;

  &.c-button--active {
    border-color: darken($color, $color-tint);
    background-color: darken($color, $color-tint);
    color: $color-hover;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $color;
      color: $color-hover;
    }

    &:focus {
      border-color: $button-focus-border-color;
      box-shadow: $button-focus-box-shadow;
    }

    &:active {
      border-color: darken($color, $color-tint);
      background-color: darken($color, $color-tint);
      color: $color-hover;
    }
  }
}
