@import "settings.global";

@mixin carousel-size($carousel-width, $carousel-height) {
  width: $carousel-width;
  height: $carousel-height;
}

@mixin carousel-visibility($carousel-visible) {
  opacity: $carousel-visible;
}

@mixin carousel-control {
  display: none;
  position: absolute;
  // top: 50%;
  top: 45%;
  // width: 40px;
  // height: 40px;
  height: 1em;
  // border-radius: 50%;
  color: $color-white;
  font-size: 4em;
  // line-height: 35px;
  line-height: .8em;
  // text-align: center;
  cursor: pointer;
  z-index: 10;
}
