@import "settings.global";

@mixin keyframe ($animation_name) {
  // @-webkit-keyframes $animation_name {
  //   @content;
  // }
  //
  // @-moz-keyframes $animation_name {
  //   @content;
  // }
  //
  // @-o-keyframes $animation_name {
  //   @content;
  // }
  @keyframes $animation_name {
    @content;
  }
}

@mixin animated {
  animation-duration: $duration;
  animation-fill-mode: $fillmode;
  // animation-delay: $delay;
  // animation-play-state: running;
  // animation-fill-mode: forwards;
}

// @mixin animation ($delay, $duration, $animation, $direction: normal, $fillmode: fowards)
@mixin animation ($animation) {
  // -webkit-animation-delay: $delay;
  // -webkit-animation-duration: $duration;
  // -webkit-animation-name: $animation;
  // -webkit-animation-fill-mode: $fillmode;
  // -webkit-animation-direction: $direction;
  //
  // -moz-animation-delay: $delay;
  // -moz-animation-duration: $duration;
  // -moz-animation-name: $animation;
  // -moz-animation-fill-mode: $fillmode;
  // -moz-animation-direction: $direction;

  // animation-delay: $delay;
  // animation-duration: $duration;
  animation-name: $animation;
  // animation-direction: $direction;
  // animation-fill-mode: $fillmode;
}
