@import "settings.global";

@mixin link--color($color: $link-color) {
  background-color: transparent;
  color: $color;

  &:not(:disabled) {
    &:visited {
      // color: darken($color, $color-tint);
    }

    &:hover {
      background-color: transparent;
      color: lighten($color, $color-tint);
    }

    &:active {
      background-color: transparent;
      color: lighten($color, $color-tint);
    }
  }
}
