@mixin centered {
  text-align: center;
}

@mixin left {
  text-align: left;
}

@mixin centered-item {
  margin: 0 auto;
}

@mixin flex {
  display: flex;
}

@mixin flex-row {
  flex-direction: column;
}

// @mixin center-block {
//   position: relative;
// }

@mixin center-block {
  align-items: center;
  justify-content: center;
}

@mixin center-block__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-block__content--vertical {
  left: auto;
  transform: translateY(-50%);
}

@mixin center-block__content--horizontal {
  top: auto;
  transform: translateX(-50%);
}
