@import "settings.global";

@mixin letter-margin--super {
  margin-top: $spacing-super;
  margin-bottom: $spacing-super;
}

@mixin letter-margin--xlarge {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
}

@mixin letter-margin--large {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

@mixin letter-margin--medium {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}

@mixin letter-margin--small {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

@mixin letter-margin--xsmall {
  margin-top: $spacing-xsmall;
  margin-bottom: $spacing-xsmall;
}

@mixin letter-margin--tiny {
  margin-top: $spacing-tiny;
  margin-bottom: $spacing-tiny;
}

@mixin letter-margin--none {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin pillar-margin--super {
  margin-right: $spacing-super;
  margin-left: $spacing-super;
}

@mixin pillar-margin--xlarge {
  margin-right: $spacing-xlarge;
  margin-left: $spacing-xlarge;
}

@mixin pillar-margin--large {
  margin-right: $spacing-large;
  margin-left: $spacing-large;
}

@mixin pillar-margin--medium {
  margin-right: $spacing-medium;
  margin-left: $spacing-medium;
}

@mixin pillar-margin--small {
  margin-right: $spacing-small;
  margin-left: $spacing-small;
}

@mixin pillar-margin--xsmall {
  margin-right: $spacing-xsmall;
  margin-left: $spacing-xsmall;
}

@mixin pillar-margin--tiny {
  margin-right: $spacing-tiny;
  margin-left: $spacing-tiny;
}

@mixin pillar-margin--none {
  margin-right: 0;
  margin-left: 0;
}

@mixin window-margin--super {
  @include letter-margin--super;
  @include pillar-margin--super;
}

@mixin window-margin--xlarge {
  @include letter-margin--xlarge;
  @include pillar-margin--xlarge;
}

@mixin window-margin--large {
  @include letter-margin--large;
  @include pillar-margin--large;
}

@mixin window-margin--medium {
  @include letter-margin--medium;
  @include pillar-margin--medium;
}

@mixin window-margin--small {
  @include letter-margin--small;
  @include pillar-margin--small;
}

@mixin window-margin--xsmall {
  @include letter-margin--xsmall;
  @include pillar-margin--xsmall;
}

@mixin window-margin--tiny {
  @include letter-margin--tiny;
  @include pillar-margin--tiny;
}

@mixin window-margin--none {
  @include letter-margin--none;
  @include pillar-margin--none;
}
